{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row pt-3">
            <div class="col-3">
                <div class="imagen-logo">
                    <img src="../assets/imagenes/logo1.png" alt="">
                </div>
                
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <span class="titulo">
                            Desafío de Cartas: Velocidad
                        </span>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="imagen-centrodiv">
                            <img class="imagen-centro" src="../assets/imagenes/cartas.png" alt="">
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-3">
                <div class="imagen-logo2">
                    <img src="../assets/imagenes/logo2.png" alt="">
                </div>
            </div>
        </div>

        <div class="row pt-5 mt-3">
            <div class="col-6">
                <div class="form-group">
                    <label class="inputs_titulo" for="cedula">Ingrese su N° de cédula</label>
                    <input type="text" class="form-control form-control-lg" id="cedula" placeholder="C.I.">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label class="inputs_titulo" for="nombres">Ingrese sus nombres</label>
                    <input type="text" class="form-control form-control-lg" id="nombres" placeholder="Nombres">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 botonera mt-3 pt-5">
                <button id="continuar" class="btn btn-colorraro">Continuar</button>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}


<script>
const continuar =  document.querySelector("#continuar")


continuar.addEventListener("click", async function(e){
    e.preventDefault();
    const cedula = document.querySelector("#cedula");
    const nombres = document.querySelector("#nombres");
    var mensaje = await eel.login(nombres.value, cedula.value)();

    if(mensaje){
        swal ( "Oops" ,  mensaje ,  "error" )

    }
})

</script>


{% endblock %}