{% extends "base.html" %}
{% block title %}Selecciona la categoría{% endblock %}


{% block css %}

<style>
    .sdsdsd{
        display: flex;
        justify-content: center;
        align-items: center; /* Centrar horizontalmente */
    }

    .titulo-verde{
        color: #E0F300;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .categoria{
        margin-top: 10px;
        height: 100px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Irish Grover;
        transition: box-shadow 0.3s ease;
        box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

    .categoria:hover{
        transform: scale(1.05);
        box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.8);
    }

    .juego-memoria {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        
        margin: auto;
        width: 80%; /* Ancho de la cuadrícula */
        height: 80vh;

    }
    
    .tarjeta {
        width: 50%; /* Hace que la imagen ocupe todo el ancho de la tarjeta */
        background: url("../assets/imagenes/carta.png") ;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #ccc;
        cursor: pointer;
        z-index: 999;
    }

    .tarjeta:hover {
        transform: scale(1.03);
    }

</style>

{% endblock %}


{% block content %}
    <div class="container-fluid">

        <div class="row pt-3 sdsdsd pb-5">
           
            <div class="col-3 text-center">
                    <a href="index.html" class="btn btn-warning titulo titulo-verde ">Inicio</a> 
            </div>

            <div class="col-3 text-center">
                <span class="titulo titulo-verde ">
                    <div id="display">00:00</div>
                </span>
                
            </div>
            <div class="col-3 text-center">
                <span class="titulo titulo-verde " style="color: red;">
                    Fallos: <span id="errores">0</span>
                </span>
            </div>

            <div class="col-3 text-center">
                
                <a href="categorias.html" class="btn btn-danger titulo titulo-verde ">Regresar</a> 
                
            </div>
        </div>

        <div id="juego-memoria" class="juego-memoria"></div>


    </div>

{% endblock %}

{% block script %}


<script>

let tarjetaSeleccionada = null;
let chequeoEnCurso = false;
const erroresSP = document.querySelector('#errores');
const display = document.getElementById('display');


function barajar(arreglo) {
    for (let i = arreglo.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [arreglo[i], arreglo[j]] = [arreglo[j], arreglo[i]];
    }
    return arreglo;
}



async function run() {
    let errores = 0;
    let minutos = 0, segundos = 0;
    let cronometro;

    clearInterval(cronometro);
    cronometro = setInterval(() => {
        segundos++;
        if (segundos === 60) {
            minutos++;
            segundos = 0;
            if (minutos === 60) {
                minutos = 0;
            }
        }
        display.textContent = `${pad(minutos)}:${pad(segundos)}`;
    }, 1000);
    function pad(num) {
        return num < 10 ? '0' + num : num;
    }


    let contador = 0;
    
    const path = '../assets/cartas/';
    const cartas = await eel.ObtieneCartas()();
    
    let maximo = cartas.length;
    const imagenes2 =   cartas.map(f => { 
        return [path + f.imagen, path + f.imagen]
    })
    let imagenes = [];
    
    imagenes2.forEach(pareja => imagenes.push(...pareja));

    const juegoMemoria = document.getElementById('juego-memoria');
    const tarjetasBarajadas = barajar(imagenes);

    tarjetasBarajadas.forEach((img, index) => {
        const tarjeta = document.createElement('div');
        tarjeta.classList.add('tarjeta');
        
        // Guardar el nombre de la imagen en un atributo de la tarjeta
        tarjeta.dataset.imagen = img;
        tarjeta.dataset.resuelto = '0';

        // Manejar el clic en la tarjeta
        tarjeta.addEventListener('click', function (e){
            if (chequeoEnCurso) return; // Ignora clics mientras se chequea otra pareja
            if (tarjeta === tarjetaSeleccionada) return; // Ignora clics en la misma tarjeta
            if (tarjeta.dataset.resuelto == '1') return; // Ignora clics en la misma tarjeta
            if (tarjetaSeleccionada?.dataset.resuelto == '1') return; // Ignora clics en la misma tarjeta
        
            tarjeta.style.backgroundImage = `url(${img})`; // Muestra la imagen
        
            if (!tarjetaSeleccionada) {
                // No hay una tarjeta seleccionada actualmente
                tarjetaSeleccionada = tarjeta;
            } else {
                // Comprobar si la nueva tarjeta coincide con la tarjeta seleccionada
                if (tarjeta.dataset.imagen === tarjetaSeleccionada.dataset.imagen) {
                    tarjeta.dataset.resuelto = '1';
                    tarjetaSeleccionada.dataset.resuelto = '1';
                    

                    tarjetaSeleccionada = null; 
                    contador++;
                    if(contador == maximo){
                        clearInterval(cronometro);
                        juegoTerminado();
                    } 
                } else {
                    // Las tarjetas no coinciden, ocultarlas después de un breve período
                    chequeoEnCurso = true;
                    setTimeout(() => {
                        tarjeta.style.backgroundImage = '';
                        tarjetaSeleccionada.style.backgroundImage = '';
                        tarjetaSeleccionada = null;
                        chequeoEnCurso = false;
                    }, 500);

                    errores++;
                    erroresSP.innerHTML = errores;

                }
            }
        }
        );

        juegoMemoria.appendChild(tarjeta);
    });
}



run();


async function juegoTerminado(){
    const tiempo = display.innerHTML;
    const errores = erroresSP.innerHTML;

    var respuesta = await eel.GuardaJuego(tiempo, errores)();

    if(respuesta){

        swal ( 
            "¡Genial!" ,  
            "Haz finalizado el juego en " + tiempo  + " y con " + errores + " errores. Tu puntuación es de: " + respuesta ,  
            "success" 
        ).then((willRedirect) => {
            if (willRedirect) {
              window.location.href = "index.html";
            }
        });

    }

}


</script>


{% endblock %}